* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 300px;
    border: 2px solid red;
    margin: 10px auto;
    position: relative;
}

.item {
    float: left;
    background-color: green;
    color: #fff;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid white;
    /* position: relative; */
}

.item:nth-child(2) {
    /* position: relative;
    left: calc(100% - 50px);
    top: calc(50% - 100px);
    left: 50px;
    top: 25px;
    z-index: 1; */
    /* width: auto;
    height: auto;
    position: absolute; */
    /* bottom: 0;
    left: 0;
    right: 0;
    top: 0; */
    /* inset: 0; */
    position: fixed;
    bottom: 0;
    right: 0;

}

.item:nth-child(3) {
    position: relative;
}

