* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product {
    width: 300px;
    border: 1px solid #ddd;
    margin: 30px auto;
    position: relative;
}

.product img {
    max-width: 100%;
    height: auto;
    /* display: block; */
    vertical-align: bottom;
}

.images {
    position: relative;
}

.product .product-info {
    padding: 15px;
}

.product .sale {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: #fff;
    position: absolute;
    padding: 3px 7px;
}