body {
    padding: 100px;
}

.container:hover .box {
    transform: rotate(4000deg) scale(2) skew(43deg) translate(-16px,18px);
}

.box {
    width: 200px;
    height: 200px;
    background-color: orange;
    transition: 0.5s;
}