* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 50%;
    shape-outside: circle();
}

.images::after {
    content: "";
    display: block;
    clear: both;
}

.images p:first-child {
    width: 30vw;
    float: left;
}

/* p {
    float: left;
} */

.images {
    margin-top: 100px;
    border: 1px solid red;
    width: 100vw;
}

