/* .box h1 {
    background-color: green;
}

.box {
    background-color: red;
}

.box:hover {
    filter: opacity(0.5);
    filter: grayscale(0.5);
    filter: blur(5px);
} */

.map:hover iframe {
    opacity: calc(0.5);
}