/* .box h2 ~ p, box h2 ~ div p{
    color: red;
} */
/* .box h2 ~ div p {
    color: blue;
} */

/* .content p + h2 + h2 + h2 , .content p + h2 + h2 {
    color: red;
} */

/* .content h2 + h2 {
    color: red;
} */

.todos input:checked ~ span {
    color: red;
    text-decoration: line-through;
} 