//RESPONSIVE HEADER

@media screen and (max-width: 991.98px) {
    .header {
        .container {
            .icon_menu {
                display: block !important;
                font-size: 2rem;
                padding: 3px 5px;
                border: 1px solid #BEBCBD;
                border-radius: 5px;
                display: flex;
                align-items: center;
            }
            .icon_menu_input:checked ~ .nav {
                translate: 0;
            }
            .icon_menu_input:checked ~ .overlay {
                opacity: 1;
                visibility: visible;
            }
            .overlay {
                position: fixed;
                inset: 0;
                background-color: #00000092;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
            }
            .nav {
                background-color: #bebcbd;
                flex-direction: column;
                position: fixed;
                z-index: 2;
                top: 0px;
                left: 0px;
                gap: 30px;
                bottom: 0;
                width: 75%;
                justify-content: center;
                translate: -100%;
                transition: translate 0.4s linear;
                row-gap: 0 !important;
                a {
                    display: inline-block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    &:hover {
                        background-color: #F6F6F6;
                    }
                    &:active {
                        background-color: #edecec;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768.98px) {
    .input {
        input {
            width: 120px !important;
        }
    }
}

@media screen and (max-width: 576.98px) {
    .icon {
        display: none !important;
    }
}


// RESPONSIVE MAIN

@media screen and (max-width: 1199.98px) {
    .main {
        .product {
            .product-container {
                column-gap: 100px;
                .images {
                    width: 400px !important;
                    height: 600px !important;
                }
                .product-content {
                    margin-top: 20px;
                    .menu {
                        margin-bottom: 18px;
                    }
                    // End menu
    
                    .product-title {
                        margin-bottom: 20px;
                        h2 {
                            font-size: 2.8rem;
                            line-height: 120%;
                        }
                    }
                    // End product-title
    
                    .product-review {
                        margin-bottom: 20px;
                        .icon-star {
                            column-gap: 5px;
                            margin-right: 5px;
                            + span {
                                margin-right: 13px;
                            }
                        }
                        .product-comment {
                            column-gap: 5px;
                        }
                    }
                    // End product-review
    
                    .product-select-size {
                        .select {
                            margin-bottom: 20px;
                        }
                        .size {
                            margin-bottom: 20px;
                            span {
                                margin-right: 10px;
                            }
                        }
                    }
                    // End product-select-size
    
                    .product-color {
                        row-gap: 15px;
                        .colors {
                            margin-bottom: 20px;
                            .color {
                                margin-right: 10px;
                            }
                        }
                    }
                    // End product-color
    
                    .product-shopping {
                        column-gap: 20px;
                        margin-bottom: 20px;
                        .btn-cart {
                            padding: 12px 20px;
                        }
                        .price {
                            padding: 12px 25px;
                        }
                    } 
                    // End product-shopping
    
                    .line {
                        width: 400px;
                        margin-bottom: 30px;
                    }
                    // End line
                    .extension {
                        column-gap: 25px;
                        .item {
                            margin-bottom: 45px;
                            column-gap: 5px;
                            .image {
                                width: 35px;
                                height: 35px;
                            }
                            span {
                               font-size: 1.4rem;
                            }
                        }
                        // End extension-left 
    
                    }
                    // End extension
                }
                // End .product-content
            }
        }
        // End product

        .description {
            .description-container {
                .des-content {
                    width: 550px;
                    .des-text {
                        max-width: 500px;
                        line-height: 2rem;
                        letter-spacing: 0.32px;
                        font-size: 1.4rem;
                        margin-bottom: 30px;
                    }
                    .table {
                        width: 500px;
                    }
                }
                // End des-content
    
                .des-img {
                    width: 400px;
                    p {
                       width: 100%;
                       text-align: center;
                       font-size: 1.6rem;
                    }
                }
                // End des-img
    
            }
            // End description-container
        }
        // End description
    }
    // End main
}

@media screen and (max-width: 1099.98px) {
    .product-container {
        column-gap: 50px !important;
    }
}

@media screen and (max-width: 991.98px) {
    .main {
        .product {
            .product-container {
                width: 600px;
                display: flex;
                flex-direction: column;
                column-gap: 75px;
                margin: 0 auto;
                align-items: center;
                .product-images {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .list_images {
                        display: flex;
                        flex-direction: row;
                        row-gap: 23px;
                        margin: 30px 0;
                    }
                    .images {
                        height: 500px !important;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                // End product-images
    
                .product-content {
                    margin-top: 50px;
                    text-align: center;
                    .menu {
                        width: fit-content;
                        margin: 0 auto;
                        margin-bottom: 28px;
                    }
                    // End menu
    
                    .product-review {
                        width: fit-content;
                        margin: 30px auto;
                    }
                    // End product-review
    
                    .product-select-size {
                        width: fit-content;
                        margin: 30px auto;
                    }
                    // End product-select-size
    
                    .product-shopping {
                        width: fit-content;
                        margin: 30px auto;
                    } 
                    // End product-shopping
    
                    .line {
                        width: 400px;
                        border: 1px solid #BEBCBD;
                        margin: 50px auto;
                    }
                    // End line
                    .extension {
                        width: fit-content;
                        margin: 30px auto;
                    }
                    // End extension
                }
                // End .product-content
            }
        }
        // End product

        .description-container {
            flex-direction: column;
            row-gap: 50px;
            .des-content {
                text-align: center;
                .des-title {
                    width: fit-content;
                    margin: 0 auto;
                }
                .table {
                    margin: 0 !important;
                }
            }
        }
        
    }
}




