* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    border: 1px solid red;
    margin: 30px auto;
}

.box ul {
    list-style-type:none;
}

.box ul li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../images/iconblue.png) no-repeat left center;
    background-size: 15px;
    vertical-align: middle;
}