* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.partners {
    width: 650px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.partners .item img {
    max-height: 50px;
    width: auto;
}

